* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

.image-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }
  
  .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    visibility: hidden;
  }
  
  .image-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    visibility: hidden; 
  }
  
  .image-wrapper.showBackground::before {
    visibility: visible;
  }

  .showBackground{
    visibility: visible;
  }
  