* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(https://img.freepik.com/premium-photo/blue-betta-fish-with-black-background_542670-7163.jpg);
  background-size: cover;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background: transparent; */
  background-color: black;
  position: fixed;
  color: rgb(251, 251, 253);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  height: 50px;
  top: 0;
}

nav h1,
h3,
a {
  cursor: pointer;
  color: aliceblue;
  text-decoration: underline;
  font-weight: 450;
}
.a1 {
  background-color: rgba(240, 248, 255, 0.466);
  margin-top: 80px;
  width: 50%;
  margin-left: 350px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.a1 h1 {
  padding-bottom: 20px;
  font-size: 50px;
}
.a1 p {
  padding-bottom: 30px;
  text-align: center;
  font-weight: 500;
}
.a2 {
  display: flex;
  margin-top: 60px;
  justify-content: space-around;
}
.contact {
  background-color: rgba(115, 231, 246, 0.479);
  border-radius: 30px;
  width: 200px;
  font-weight: 500;
  /* text-shadow: 1px 1px 1px white; */
  height: 200px;
  padding-left: 20px;
}
.contact i,
h4,
p {
  margin-top: 15px;
  color: black;
}

.location {
  background-color: rgba(246, 164, 239, 0.484);
  border-radius: 30px;
  width: 200px;
  font-weight: 500;
  /* text-shadow: 1px 1px 1px white; */
  height: 200px;
  padding-left: 20px;
}
.location i,
h4,
p {
  margin-top: 15px;
  color: black;
}
/* ------------------------------------------reSPONSIVE----------------------------------- */
@media only screen and (max-width: 480px) {
  body {
    background-image: url(https://miro.medium.com/v2/resize:fit:1024/1*y6udVadaYQQpm5-fzmXfRw.jpeg);
  }
  .a1 {
    width: 90%;
    margin-left: 5%;
  }
  .a1 h1 {
    font-size: 40px;
  }
  .a1 p {
    font-size: 16px;
  }
  .a2 {
    flex-direction: column;
    margin-top: 40px;
  }
  .contact,
  .location {
    width: 90%;
    margin: 0 auto 20px;
  }
  .contact,
  .location i,
  .location h4,
  .location p,
  .contact h4,
  .contact p {
    text-align: center;
  }
  .loc {
    margin-left: 185px;
  }
  .conc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
/* -------------------------------------------------------------------------------------------- */
@media only screen and (min-width: 480px) and (max-width: 780px) {
  body {
    background-image: url(https://miro.medium.com/v2/resize:fit:1024/1*y6udVadaYQQpm5-fzmXfRw.jpeg);
  }
  .a1 {
    width: 90%;
    margin-left: 5%;
  }
  .a1 h1 {
    font-size: 40px;
  }
  .a1 p {
    font-size: 16px;
  }
  .a2 {
    flex-direction: column;
    margin-top: 40px;
  }
  .contact,
  .location {
    width: 90%;
    margin: 0 auto 20px;
  }
  .contact,
  .location i,
  .location h4,
  .location p,
  .contact h4,
  .contact p {
    text-align: center;
  }
  .loc {
    margin-left: 185px;
  }
  .conc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}  
